* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
input,
button,
textarea,
select {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    --background-color: white;
    --text-color: black;
    background-color: var(--background-color);
    color: var(--text-color);
}