.mainDetailContainer {
    display: flex;
    flex-direction: column;
}

.detailContentContainer {
    display: flex;
    margin: 50px;
    max-width: 700px;
}

.detailImgContainer img {
    width: 300px;
}

.detailTextContainer {
    margin-left: 30px;
}

.detailTextContainer p {
    padding: 5px;
}

.detailTextContainer p:nth-child(5) {
    text-align: justify;
}

.detailButtons {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.detailButtons button {
    width: 100px;
    border: 0;
    padding: 7px 20px;
    color: #fff;
    cursor: pointer;
}

.detailButtons :first-child {
    background-color: #246ff9;
}

.detailButtons :last-child {
    border: 1px solid #246ff9;
    color: black;
}

.detailButtons button:hover {
    background-color: #164294;
    color: white;
}

/* styles.module.css */

/* Estilo básico do modal */
.customModal {
    padding: 20px;
    background-color: #f8d7da; /* Cor de fundo do alerta */
    color: #721c24; /* Cor do texto */
    border-radius: 10px;
    text-align: center;
    transition: opacity 1s ease-out; /* Transição para o efeito fade-out */
    opacity: 1; /* Opacidade inicial */
}

/* Estilo para o efeito de fade-out */
.fadeOut {
    opacity: 0; /* Quando fadeOut for true, a opacidade se torna 0 */
}

/* Customização do overlay */
.customOverlay {
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro para destacar o pop-up */
}
