.mainDetailContainer {
    display: flex;
    flex-direction: column;
}

.detailContentContainer {
    display: flex;
    margin: 50px;
    max-width: 1000px;
}

.detailImgContainer img {
    max-width: 500px;
}

.detailTextContainer {
    margin-left: 30px;
}

.detailTextContainer p {
    padding: 5px;
}

.detailTextContainer p:nth-child(5) {
    text-align: justify;
}

.detailButtons {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.detailButtons button {
    width: 100px;
    border: 0;
    padding: 7px 20px;
    color: #fff;
    cursor: pointer;
}

.detailButtons :first-child {
    background-color: #246ff9;
}

.detailButtons :last-child {
    border: 1px solid #246ff9;
    color: black;
}

.detailButtons button:hover {
    background-color: #164294;
    color: white;
}

.customModalEdit {
    padding: 20px;
    background-color: #d7daf8;
    color: #1c4172;
    border-radius: 10px;
    text-align: center;
    transition: opacity 1s ease-out;
    opacity: 1;
}

.customModalDelete {
    padding: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 10px;
    text-align: center;
    transition: opacity 1s ease-out;
    opacity: 1;
}


.fadeOut {
    opacity: 0;
}


.customOverlay {
    background: rgba(0, 0, 0, 0.5);
}


.modalContainer input, textarea {
    width: 100%;
    height: 35px;
    border: 0;
    border: 1px solid #888;
    padding: 0 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.modalContainer h3 {
    margin-bottom: 10px;
}

.modalContainer .modalInputRow, .modalButtonRow {
    display: flex;
    gap: 10px;
}

.modalContainer textarea {
    resize: none;
    height: 100px;
    padding: 10px;
}


.modalContainer button {
    border: 0;
    padding: 7px 20px;
    color: #fff;
    cursor: pointer;
}

.modalContainer button:first-child {
    background-color: #246ff9;
}

.modalContainer button:last-child {
    border: 1px solid #246ff9;
    color: black;
}

.modalContainer button:hover {
    background-color: #164294;
    color: white;
}